<!doctype html>
<html lang="fr">
  {{ partial "head.html" . }}
<body>
  <header class="site-masthead">
    <h1>{{ .Site.Params.titre }}</h1>
    <h2>{{ .Site.Params.auteur }}</h2>
  </header>
  <main class="home" id="main" role="main" aria-label="Content">
    <h1 class="content-title divided">Contents</h1>
      <ul class="post-list">
        {{ range (.Paginate ( where .Site.RegularPages "Section" "posts" ).ByWeight).Pages }}
          {{ if ne .Kind "section" }}
          <li>
            <a href="{{ .Permalink }}" title="{{ .Params.Chapter }}" class="post-link">
              <div class="post-link__heading">
                <h1 class="post-link__title">{{ .Params.Chapter }}</h1>
              </div>
              <span class="post-date">{{ .Title }}</span>
            </a>
          </li>
          {{ end }}
        {{ end }}
      </ul>
    </main>
    {{ partial "header.html" . }}
    {{ partial "footer.html" . }}
</body>
</html>
